<header class="app-navbar" *ngIf="isLoggedIn$ | async">
  <div class="nav-container">
    <div class="nav-brand" routerLink="/">
      <img src="images/Logo-ARTDECON-HD-fondo-negro-(logo-blanco).jpg" alt="">
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Perfiles de Cargo</a>
      <a routerLink="/vacantes" routerLinkActive="active">Vacantes</a>
      <a routerLink="/postulaciones" routerLinkActive="active">Postulaciones</a>
      <button (click)="logout()" class="nav-logout-btn">Cerrar Sesión</button>
    </nav>
  </div>
</header>

<main class="app-main-content">
  <router-outlet></router-outlet>
</main>